#page-title{
    margin-left: 1%;
}
#invite-header{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
    background-color: blueviolet;
    overflow: hidden;
    border-radius: 5px;
    padding: 2%;
}
#num-friends-para{
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 0em;
    background-color: blueviolet;
    font-weight: bold;
    float:left;
}
#action-btn{
    display: inline-block;
    background-color: pink;
    color:black;
    font-weight: bold;
    float: right;
}
#search-box-div{
    clear: both;
    padding-top: 1%;
    margin-left: 1%;
}
#search-box-div i{
    width: 10%;
    display: inline-block;
    padding: 2.5%;
    background-color: blueviolet;
    color: black;
    border-radius: 20px;
}
#search-box-div input{
    width: 85%;
    display: inline-block;
}
#profile-select-element{
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 10%;
    align-content: center;
    height: 30px;
    width: 95%;
    overflow: hidden;
}
#profile-select-element img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
#profile-select-element p{
    margin-bottom: 0em;
}
#profile-select-element i{
    float: right;
    margin-top: 2%;
}
#friends-list{
    height: 360px;
}
#next-step-btn{
    text-align: center;
    width: 100%;
    height: 9%;
    background-color: pink;
    color:black;
    font-weight: bold;
}