#profile-summary-element{
    padding-left: 1%;
    padding-bottom: 10%;
    align-content: center;
    height: 30px;
    width: 100%;
}
#profile-summary-element img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
#profile-summary-element p{
    margin-bottom: 0em;
}