#select-activity-content h3{
    margin-left: 1%;
}
#select-activity-content ul{
    list-style-type: none;
    padding-left: 1%;
    height: 445px;
    margin-bottom: 0px;
}
#select-activity-content li{
    background-color: pink;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 1%;
    border-radius: 5px;
    margin-bottom: 1%;
}
#select-activity-content li img{
    display: inline-block;
    width: 150px;
    height: 70px;
    vertical-align: top;
    border-radius: 5px;
}
#select-activity-content li div{
    margin-top: 4%;
    display: inline-block;
    vertical-align: middle;
}
#select-activity-content li div p{
    margin-bottom: 0px;
    font-weight: bold;
    font-size: x-small;
}